<a href="https://colab.research.google.com/github/allanzim/Trabalho/blob/master/analise_perdas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  %pip install sidetable

  import numpy as np
  import pandas as pd

  import sidetable
  from scipy import stats

  import seaborn as sns
  import matplotlib.pyplot as plt

  import plotly.express as px
  import plotly.graph_objects as go

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sidetable in /usr/local/lib/python3.7/dist-packages (0.9.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from sidetable) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)

In [ ]:
df_janeiro = pd.read_excel('/content/Relatório - Janeiro.xlsx')
df_fevereiro = pd.read_excel('/content/Relatório - Fevereiro.xlsx')
df_marco = pd.read_excel('/content/Relatório - Março.xlsx')
df_abril = pd.read_excel('/content/Relatório - Abril.xlsx')
df_maio = pd.read_excel('/content/Relatório - Maio.xlsx')
df_junho = pd.read_excel('/content/Relatório - Junho.xlsx')
df_julho = pd.read_excel('/content/Relatório - Julho.xlsx')
df_agosto = pd.read_excel('/content/Relatório - Agosto.xlsx')
df_setembro = pd.read_excel('/content/Relatório - Setembro.xlsx')
df_outubro = pd.read_excel('/content/Relatório - Outubro.xlsx')

In [ ]:
df_janeiro.fillna(0, inplace = True)
df_fevereiro.fillna(0, inplace = True)
df_marco.fillna(0, inplace = True)
df_abril.fillna(0, inplace = True)
df_maio.fillna(0, inplace = True)
df_junho.fillna(0, inplace = True)
df_julho.fillna(0, inplace = True)
df_agosto.fillna(0, inplace = True)
df_setembro.fillna(0, inplace = True)
df_outubro.fillna(0, inplace = True)

In [ ]:
# dataframes filtrados retirando-se as colunas NOME_PROPRIETARIO NOME_MORADOR ENDERECO COMPLEMENTO LOCALIZACAO

df_janeiro_data = df_janeiro.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)
df_fevereiro_data = df_fevereiro.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)
df_marco_data = df_marco.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)
df_abril_data = df_abril.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)
df_maio_data = df_maio.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)
df_junho_data = df_junho.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)
df_julho_data = df_julho.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)
df_agosto_data = df_agosto.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)
df_setembro_data = df_setembro.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)
df_outubro_data = df_outubro.drop(['NOME_PROPRIETARIO', 'NOME_MORADOR', 'ENDERECO', 'COMPLEMENTO', 'LOCALIZACAO'], axis=1)

In [ ]:
df_janeiro_data

,ID,MATRICULA,GRUPO,BAIRRO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
0,1,186116-6,111,SÃO JOSÉ,Ativa,NÃO,Y17S631158,0.0,26.0,0.0,0,26,Lido,19/01/2022,30.0,20.0
1,2,186117-4,111,SÃO JOSÉ,Ativa,NÃO,Y19S331705,0.0,1.0,0.0,0,10,Mínimo,19/01/2022,30.0,15.0
2,3,186119-0,111,SÃO JOSÉ,Ativa,NÃO,Y17T086860,0.0,0.0,532.0,CONSUMO ZERO,10,Mínimo,19/01/2022,30.0,10.0
3,4,186120-4,111,BAIRRO PADRAO,Suprimida,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Mínimo,19/01/2022,0.0,10.0
4,5,186121-2,111,BAIRRO PADRAO,Ativa,NÃO,Y18S310371,0.0,7.0,0.0,0,10,Mínimo,19/01/2022,30.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16172,16173,450217-5,117,RESIDENCIAL VERA,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,27/01/2022,0.0,0.0
16173,16174,450219-1,118,CONDOMÍNIO FLORES DO VALE,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,28/01/2022,0.0,0.0
16174,16175,450221-3,118,CONDOMÍNIO FLORES DO VALE,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,28/01/2022,0.0,0.0
16175,16176,450222-1,118,RESIDENCIAL GLORIA,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,28/01/2022,0.0,0.0
16176,16177,450223-0,118,RESIDENCIAL GLÓRIA II,Cortada Cavalete,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,28/01/2022,0.0,0.0

In [ ]:
# numero de ligações ativas em Janeiro
df_janeiro_data[(df_janeiro_data['SITUACAO_LIG_AGUA']=='Ativa')].count()

ID                           14861
MATRICULA                    14861
GRUPO                        14861
BAIRRO                       14861
SITUACAO_LIG_AGUA            14861
LIGACAO_PARTICULAR           14861
N_HIDROMETRO                 14861
ORIGEM_DA_AGUA               14861
VOLUME_LIDO                  14861
OCORRENCIA                   14861
DESC_OCORRENCIA              14861
CONSUMO_FATURADO             14861
TIPO_CONSUMO_FATURADO        14861
DATA_DA_LEITURA              14861
NUMERO_DE_DIAS_DE_CONSUMO    14861
MEDIA_MES_ANTERIOR           14861
dtype: int64

In [ ]:
df_janeiro_data['SITUACAO_LIG_AGUA'].unique()

array(['Ativa', 'Suprimida', 0, 'Cancelada', 'Cortada Cavalete',
       'Cortada Ramal'], dtype=object)

In [ ]:
df_janeiro_data[(df_janeiro_data['SITUACAO_LIG_AGUA']=='Cortada Cavalete') & (df_janeiro_data['VOLUME_LIDO']!=0)]

,ID,MATRICULA,GRUPO,BAIRRO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
40,41,186161-1,112,BAIRRO PADRAO,Cortada Cavalete,NÃO,A17S204398,0.0,2.0,0.0,0,10,Mínimo,20/01/2022,30.0,10.0
58,59,186181-6,112,SÃO JOSÉ,Cortada Cavalete,NÃO,Y20AA0193431,0.0,17.0,0.0,0,17,Lido,20/01/2022,30.0,24.0
89,90,186214-6,112,BAIRRO PADRAO,Cortada Cavalete,NÃO,A17S204504,0.0,6.0,0.0,0,10,Mínimo,20/01/2022,30.0,10.0
96,97,186221-9,112,SÃO JOSÉ,Cortada Cavalete,NÃO,Y18S310210,0.0,8.0,0.0,0,10,Mínimo,20/01/2022,30.0,15.0
108,109,186233-2,102,CENTRO,Cortada Cavalete,NÃO,Y20S141212,0.0,12.0,0.0,0,12,Lido,04/01/2022,28.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16017,16018,449974-3,112,SÃO JOSÉ,Cortada Cavalete,NÃO,A21DM0069441,0.0,6.0,0.0,0,10,Mínimo,20/01/2022,30.0,11.0
16038,16039,449998-0,106,JARDIM MARÍLIA,Cortada Cavalete,NÃO,A21DM0069454,0.0,10.0,0.0,0,10,Lido,10/01/2022,28.0,12.0
16043,16044,450003-2,105,BAIRRO PADRAO,Cortada Cavalete,NÃO,A21DM0068205,0.0,19.0,0.0,0,19,Lido,07/01/2022,28.0,32.0
16099,16100,450073-3,118,RESIDENCIAL GLORIA,Cortada Cavalete,NÃO,Y21S568119,0.0,1.0,0.0,0,10,Mínimo,28/01/2022,29.0,10.0
16130,16131,450126-8,109,JARDIM MORADA DA SERRA,Cortada Cavalete,NÃO,Y21S567728,0.0,2.0,0.0,0,10,Mínimo,14/01/2022,29.0,10.0

In [ ]:
matriculas_janeiro_cortado_lido = df_janeiro_data[(df_janeiro_data['SITUACAO_LIG_AGUA']=='Cortada Cavalete') & (df_janeiro_data['VOLUME_LIDO']!=0)].MATRICULA.to_numpy()
matriculas_janeiro_cortado_lido

255

In [ ]:
matriculas_fevereiro_cortado_lido = df_fevereiro_data[(df_fevereiro_data['SITUACAO_LIG_AGUA']=='Cortada Cavalete') & (df_fevereiro_data['VOLUME_LIDO']!=0)].MATRICULA.to_numpy()
matriculas_fevereiro_cortado_lido

241

In [ ]:
df_fevereiro_data[(df_fevereiro_data['SITUACAO_LIG_AGUA']=='Cortada Cavalete') & (df_fevereiro_data['VOLUME_LIDO']!=0)]

,ID,MATRICULA,GRUPO,BAIRRO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
40,41,186161-1,112,BAIRRO PADRAO,Cortada Cavalete,NÃO,A17S204398,0.0,1.0,0.0,0,10,Mínimo,17/02/2022,28.0,10.0
58,59,186181-6,112,SÃO JOSÉ,Cortada Cavalete,NÃO,Y20AA0193431,0.0,20.0,0.0,0,20,Lido,17/02/2022,28.0,25.0
89,90,186214-6,112,BAIRRO PADRAO,Cortada Cavalete,NÃO,A17S204504,0.0,2.0,0.0,0,10,Mínimo,17/02/2022,28.0,10.0
96,97,186221-9,112,SÃO JOSÉ,Cortada Cavalete,NÃO,Y18S310210,0.0,15.0,0.0,0,15,Lido,17/02/2022,28.0,13.0
108,109,186233-2,102,CENTRO,Cortada Cavalete,NÃO,Y20S141212,0.0,14.0,0.0,0,14,Lido,01/02/2022,28.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15991,15992,449974-3,112,SÃO JOSÉ,Cortada Cavalete,NÃO,A21DM0069441,0.0,9.0,0.0,0,10,Mínimo,17/02/2022,28.0,11.0
16012,16013,449998-0,106,JARDIM MARÍLIA,Cortada Cavalete,NÃO,A21DM0069454,0.0,1.0,0.0,0,10,Mínimo,08/02/2022,29.0,16.0
16017,16018,450003-2,105,BAIRRO PADRAO,Cortada Cavalete,NÃO,A21DM0068205,0.0,18.0,0.0,0,18,Lido,07/02/2022,31.0,27.0
16075,16076,450073-3,118,RESIDENCIAL GLORIA,Cortada Cavalete,NÃO,Y21S568119,0.0,1.0,0.0,0,10,Mínimo,25/02/2022,28.0,10.0
16158,16159,450223-0,118,RESIDENCIAL GLÓRIA II,Cortada Cavalete,NÃO,Y22AA0005254,0.0,20.0,0.0,0,20,Lido,25/02/2022,30.0,10.0

In [ ]:
cont = 0 
for i in matriculas_janeiro_cortado_lido:
  for j in matriculas_fevereiro_cortado_lido:
    if i == j:
      print(f'{i} Matrícula Reincidente')
      cont += 1

print(cont)

186161-1 Matrícula Reincidente
186181-6 Matrícula Reincidente
186214-6 Matrícula Reincidente
186221-9 Matrícula Reincidente
186233-2 Matrícula Reincidente
186365-7 Matrícula Reincidente
186565-0 Matrícula Reincidente
186823-3 Matrícula Reincidente
186869-1 Matrícula Reincidente
186961-2 Matrícula Reincidente
186962-0 Matrícula Reincidente
186990-6 Matrícula Reincidente
187002-5 Matrícula Reincidente
187139-0 Matrícula Reincidente
187223-0 Matrícula Reincidente
187336-9 Matrícula Reincidente
187347-4 Matrícula Reincidente
187512-4 Matrícula Reincidente
187643-0 Matrícula Reincidente
187914-6 Matrícula Reincidente
188056-0 Matrícula Reincidente
188310-0 Matrícula Reincidente
188329-1 Matrícula Reincidente
188345-3 Matrícula Reincidente
188375-5 Matrícula Reincidente
188392-5 Matrícula Reincidente
188537-5 Matrícula Reincidente
188721-1 Matrícula Reincidente
188752-1 Matrícula Reincidente
188892-7 Matrícula Reincidente
188898-6 Matrícula Reincidente
188905-2 Matrícula Reincidente
189201-0 Matrícula Reincidente
189203-7 Matrícula Reincidente
189243-6 Matrícula Reincidente
277197-7 Matrícula Reincidente
278276-6 Matrícula Reincidente
280599-5 Matrícula Reincidente
319553-8 Matrícula Reincidente
319585-6 Matrícula Reincidente
319680-1 Matrícula Reincidente
319726-3 Matrícula Reincidente
319762-0 Matrícula Reincidente
326962-0 Matrícula Reincidente
328300-3 Matrícula Reincidente
337478-5 Matrícula Reincidente
368001-0 Matrícula Reincidente
380110-1 Matrícula Reincidente
382956-1 Matrícula Reincidente
404065-1 Matrícula Reincidente
405620-5 Matrícula Reincidente
413641-1 Matrícula Reincidente
419263-0 Matrícula Reincidente
422256-3 Matrícula Reincidente
423470-7 Matrícula Reincidente
423476-6 Matrícula Reincidente
425683-2 Matrícula Reincidente
425747-2 Matrícula Reincidente
426215-8 Matrícula Reincidente
426262-0 Matrícula Reincidente
426289-1 Matrícula Reincidente
426297-2 Matrícula Reincidente
426342-1 Matrícula Reincidente
426378-2 Matrícula Reincidente
426441-0 Matrícula Reincidente
426458-4 Matrícula Reincidente
427124-6 Matrícula Reincidente
427425-3 Matrícula Reincidente
427809-7 Matrícula Reincidente
429569-2 Matrícula Reincidente
430251-6 Matrícula Reincidente
431228-7 Matrícula Reincidente
431412-3 Matrícula Reincidente
432268-1 Matrícula Reincidente
432633-4 Matrícula Reincidente
433139-7 Matrícula Reincidente
433698-4 Matrícula Reincidente
433943-6 Matrícula Reincidente
433980-0 Matrícula Reincidente
434004-3 Matrícula Reincidente
434141-4 Matrícula Reincidente
434698-0 Matrícula Reincidente
434725-0 Matrícula Reincidente
434814-1 Matrícula Reincidente
434946-6 Matrícula Reincidente
435091-0 Matrícula Reincidente
435097-9 Matrícula Reincidente
435105-3 Matrícula Reincidente
435159-2 Matrícula Reincidente
435940-2 Matrícula Reincidente
436122-9 Matrícula Reincidente
436239-0 Matrícula Reincidente
436494-5 Matrícula Reincidente
436495-3 Matrícula Reincidente
436674-3 Matrícula Reincidente
436811-8 Matrícula Reincidente
437140-2 Matrícula Reincidente
437144-5 Matrícula Reincidente
437149-6 Matrícula Reincidente
437150-0 Matrícula Reincidente
437185-2 Matrícula Reincidente
437208-5 Matrícula Reincidente
437245-0 Matrícula Reincidente
437246-8 Matrícula Reincidente
437703-6 Matrícula Reincidente
437803-2 Matrícula Reincidente
437950-0 Matrícula Reincidente
438252-8 Matrícula Reincidente
438450-4 Matrícula Reincidente
438552-7 Matrícula Reincidente
438584-5 Matrícula Reincidente
438732-5 Matrícula Reincidente
439648-0 Matrícula Reincidente
439843-2 Matrícula Reincidente
440173-5 Matrícula Reincidente
440484-0 Matrícula Reincidente
440527-7 Matrícula Reincidente
440568-4 Matrícula Reincidente
440590-0 Matrícula Reincidente
440866-7 Matrícula Reincidente
440889-6 Matrícula Reincidente
440890-0 Matrícula Reincidente
440986-8 Matrícula Reincidente
441065-3 Matrícula Reincidente
441067-0 Matrícula Reincidente
441163-3 Matrícula Reincidente
441169-2 Matrícula Reincidente
441356-3 Matrícula Reincidente
441419-5 Matrícula Reincidente
441420-9 Matrícula Reincidente
441495-0 Matrícula Reincidente
441658-9 Matrícula Reincidente
441720-8 Matrícula Reincidente
441724-0 Matrícula Reincidente
441726-7 Matrícula Reincidente
441900-6 Matrícula Reincidente
442037-3 Matrícula Reincidente
442070-5 Matrícula Reincidente
442239-2 Matrícula Reincidente
442357-7 Matrícula Reincidente
442515-4 Matrícula Reincidente
442567-7 Matrícula Reincidente
442718-1 Matrícula Reincidente
442758-0 Matrícula Reincidente
442761-0 Matrícula Reincidente
442790-4 Matrícula Reincidente
442931-1 Matrícula Reincidente
443010-7 Matrícula Reincidente
443061-1 Matrícula Reincidente
443165-0 Matrícula Reincidente
443179-0 Matrícula Reincidente
443229-0 Matrícula Reincidente
443332-7 Matrícula Reincidente
443340-8 Matrícula Reincidente
443343-2 Matrícula Reincidente
443422-6 Matrícula Reincidente
443672-5 Matrícula Reincidente
443760-8 Matrícula Reincidente
443908-2 Matrícula Reincidente
443966-0 Matrícula Reincidente
443995-3 Matrícula Reincidente
444097-8 Matrícula Reincidente
444512-0 Matrícula Reincidente
444551-1 Matrícula Reincidente
444583-0 Matrícula Reincidente
444661-5 Matrícula Reincidente
445047-7 Matrícula Reincidente
445078-7 Matrícula Reincidente
445387-5 Matrícula Reincidente
445425-1 Matrícula Reincidente
445557-6 Matrícula Reincidente
445577-0 Matrícula Reincidente
445675-0 Matrícula Reincidente
445691-2 Matrícula Reincidente
445939-3 Matrícula Reincidente
446008-1 Matrícula Reincidente
446127-4 Matrícula Reincidente
446274-2 Matrícula Reincidente
446343-9 Matrícula Reincidente
446445-1 Matrícula Reincidente
446531-8 Matrícula Reincidente
446554-7 Matrícula Reincidente
446617-9 Matrícula Reincidente
446825-2 Matrícula Reincidente
446947-0 Matrícula Reincidente
446955-0 Matrícula Reincidente
447041-9 Matrícula Reincidente
447112-1 Matrícula Reincidente
447229-2 Matrícula Reincidente
447411-2 Matrícula Reincidente
447434-1 Matrícula Reincidente
447442-2 Matrícula Reincidente
447760-0 Matrícula Reincidente
447803-7 Matrícula Reincidente
447804-5 Matrícula Reincidente
447832-0 Matrícula Reincidente
448020-1 Matrícula Reincidente
448065-1 Matrícula Reincidente
448196-8 Matrícula Reincidente
448240-9 Matrícula Reincidente
448249-2 Matrícula Reincidente
448329-4 Matrícula Reincidente
448544-0 Matrícula Reincidente
448569-6 Matrícula Reincidente
448583-1 Matrícula Reincidente
448593-9 Matrícula Reincidente
448613-7 Matrícula Reincidente
448800-8 Matrícula Reincidente
449009-6 Matrícula Reincidente
449159-9 Matrícula Reincidente
449186-6 Matrícula Reincidente
449212-9 Matrícula Reincidente
449218-8 Matrícula Reincidente
449266-8 Matrícula Reincidente
449390-7 Matrícula Reincidente
449508-0 Matrícula Reincidente
449521-7 Matrícula Reincidente
449555-1 Matrícula Reincidente
449636-1 Matrícula Reincidente
449655-8 Matrícula Reincidente
449877-1 Matrícula Reincidente
449882-8 Matrícula Reincidente
449887-9 Matrícula Reincidente
449911-5 Matrícula Reincidente
449925-5 Matrícula Reincidente
449950-6 Matrícula Reincidente
449974-3 Matrícula Reincidente
449998-0 Matrícula Reincidente
450003-2 Matrícula Reincidente
450073-3 Matrícula Reincidente
230

In [ ]:
df_janeiro_data[(df_janeiro_data['SITUACAO_LIG_AGUA']=='Cortada Cavalete') & (df_janeiro_data['VOLUME_LIDO']!=0)].MATRICULA

40       186161-1
58       186181-6
89       186214-6
96       186221-9
108      186233-2
           ...
16017    449974-3
16038    449998-0
16043    450003-2
16099    450073-3
16130    450126-8
Name: MATRICULA, Length: 255, dtype: object

In [ ]:
for i in df_janeiro_data[(df_janeiro_data['SITUACAO_LIG_AGUA']=='Cortada Cavalete') & (df_janeiro_data['VOLUME_LIDO']!=0)]:
  print(df_janeiro_data['MATRICULA'])

0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object
0        186116-6
1        186117-4
2        186119-0
3        186120-4
4        186121-2
           ...
16172    450217-5
16173    450219-1
16174    450221-3
16175    450222-1
16176    450223-0
Name: MATRICULA, Length: 16177, dtype: object