<a href="https://colab.research.google.com/github/allanzim/Trabalho/blob/master/perdas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  %pip install sidetable

  import numpy as np
  import pandas as pd

  import sidetable
  from scipy import stats

  import seaborn as sns
  import matplotlib.pyplot as plt

  import plotly.express as px
  import plotly.graph_objects as go

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sidetable
  Downloading sidetable-0.9.1-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from sidetable) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.9.1

In [ ]:
df = pd.read_excel('/content/Relatorio__Unidades_por_Consumo-20221118-110721-433421204.xlsx')

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
df

,Relatório: Unidades por Consumo,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Relatório: Unidades por Consumo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MATRICULA,GRUPO,NOME_PROPRIETARIO,NOME_MORADOR,ENDERECO,COMPLEMENTO,BAIRRO,LOCALIZACAO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
3,186116-6,111,KLEITON FERREIRA RIGONE,KLEITON FERREIRA RIGONE,"Avenida VEREADOR VALTER DE OLIVEIRA, 838",NaN,SÃO JOSÉ,01.01.0111.1005.0470.0001,Ativa,NÃO,Y17S631158,NaN,21,0,NaN,21.0,Lido,18/10/2022,32,11
4,186117-4,111,MALLANY NEVES DE SOUZA,MALLANY NEVES DE SOUZA,"Avenida VEREADOR VALTER DE OLIVEIRA, 874",,SÃO JOSÉ,01.01.0111.1005.0500.0001,Ativa,NÃO,Y19S331705,NaN,17,0,NaN,17.0,Lido,18/10/2022,32,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16655,450664-2,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 02",LOTE 04- QUADRA23,JD SANTA FÉ,01.01.0116.1013.1470.0002,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0,NaN,0.0,Lido,27/10/2022,NaN,NaN
16656,450665-0,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 03",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0003,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0,NaN,0.0,Lido,27/10/2022,NaN,NaN
16657,450666-9,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 04",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0004,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0,NaN,0.0,Lido,27/10/2022,NaN,NaN
16658,450672-3,117,WILTO FERREIRA BARCELOS,WILTO FERREIRA BARCELOS,"Rua 05, SN",LOTE 12- QUADRA 13,LOTEAMENTO FLORAIS,01.01.0117.1011.1890.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0,NaN,0.0,Lido,27/10/2022,NaN,NaN
16659,450675-8,117,GILDO XAVIER NEPOMUCENO,GILDO XAVIER NEPOMUCENO,"Avenida EURYDICE GARCIA DE JESUS, AP 01",LOTE DE ESQUINA,RESIDENCIAL VERA,01.01.0117.1001.2610.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0,NaN,0.0,Lido,27/10/2022,NaN,NaN

In [ ]:
df = pd.read_excel('/content/data_frame.xlsx')

,MATRICULA,GRUPO,NOME_PROPRIETARIO,NOME_MORADOR,ENDERECO,COMPLEMENTO,BAIRRO,LOCALIZACAO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
0,186116-6,111,KLEITON FERREIRA RIGONE,KLEITON FERREIRA RIGONE,"Avenida VEREADOR VALTER DE OLIVEIRA, 838",NaN,SÃO JOSÉ,01.01.0111.1005.0470.0001,Ativa,NÃO,Y17S631158,NaN,21.0,0.0,NaN,21,Lido,18/10/2022,32.0,11.0
1,186117-4,111,MALLANY NEVES DE SOUZA,MALLANY NEVES DE SOUZA,"Avenida VEREADOR VALTER DE OLIVEIRA, 874",,SÃO JOSÉ,01.01.0111.1005.0500.0001,Ativa,NÃO,Y19S331705,NaN,17.0,0.0,NaN,17,Lido,18/10/2022,32.0,10.0
2,186119-0,111,LOJA MACONICA OBREIROS DA LIBERDADE,LOJA MACONICA OBREIROS DA LIBERDADE,"Rua MARIANO PIRES DE CAMPOS, 1696",NaN,SÃO JOSÉ,01.01.0111.1011.0030.0001,Ativa,NÃO,Y17T086860,NaN,0.0,532.0,CONSUMO ZERO,10,Mínimo,18/10/2022,29.0,10.0
3,186120-4,111,JUNICLER CRISTIANE DA SILVA,JUNICLER CRISTIANE DA SILVA,"Rua MARIANO PIRES DE CAMPOS, 1734",NaN,BAIRRO PADRAO,01.01.0111.1011.0040.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,18/10/2022,NaN,10.0
4,186121-2,111,ANTONIO BERNARDO DA COSTA,ANTONIO BERNARDO DA COSTA,"Avenida VEREADOR VALTER DE OLIVEIRA, 970",NaN,BAIRRO PADRAO,01.01.0111.1011.0070.0001,Ativa,NÃO,Y18S310371,NaN,12.0,0.0,NaN,12,Lido,18/10/2022,29.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16652,450664-2,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 02",LOTE 04- QUADRA23,JD SANTA FÉ,01.01.0116.1013.1470.0002,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16653,450665-0,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 03",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0003,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16654,450666-9,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 04",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0004,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16655,450672-3,117,WILTO FERREIRA BARCELOS,WILTO FERREIRA BARCELOS,"Rua 05, SN",LOTE 12- QUADRA 13,LOTEAMENTO FLORAIS,01.01.0117.1011.1890.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16656,450675-8,117,GILDO XAVIER NEPOMUCENO,GILDO XAVIER NEPOMUCENO,"Avenida EURYDICE GARCIA DE JESUS, AP 01",LOTE DE ESQUINA,RESIDENCIAL VERA,01.01.0117.1001.2610.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN

In [ ]:
df

,MATRICULA,GRUPO,NOME_PROPRIETARIO,NOME_MORADOR,ENDERECO,COMPLEMENTO,BAIRRO,LOCALIZACAO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
0,186116-6,111,KLEITON FERREIRA RIGONE,KLEITON FERREIRA RIGONE,"Avenida VEREADOR VALTER DE OLIVEIRA, 838",NaN,SÃO JOSÉ,01.01.0111.1005.0470.0001,Ativa,NÃO,Y17S631158,NaN,21.0,0.0,NaN,21,Lido,18/10/2022,32.0,11.0
1,186117-4,111,MALLANY NEVES DE SOUZA,MALLANY NEVES DE SOUZA,"Avenida VEREADOR VALTER DE OLIVEIRA, 874",,SÃO JOSÉ,01.01.0111.1005.0500.0001,Ativa,NÃO,Y19S331705,NaN,17.0,0.0,NaN,17,Lido,18/10/2022,32.0,10.0
2,186119-0,111,LOJA MACONICA OBREIROS DA LIBERDADE,LOJA MACONICA OBREIROS DA LIBERDADE,"Rua MARIANO PIRES DE CAMPOS, 1696",NaN,SÃO JOSÉ,01.01.0111.1011.0030.0001,Ativa,NÃO,Y17T086860,NaN,0.0,532.0,CONSUMO ZERO,10,Mínimo,18/10/2022,29.0,10.0
3,186120-4,111,JUNICLER CRISTIANE DA SILVA,JUNICLER CRISTIANE DA SILVA,"Rua MARIANO PIRES DE CAMPOS, 1734",NaN,BAIRRO PADRAO,01.01.0111.1011.0040.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,18/10/2022,NaN,10.0
4,186121-2,111,ANTONIO BERNARDO DA COSTA,ANTONIO BERNARDO DA COSTA,"Avenida VEREADOR VALTER DE OLIVEIRA, 970",NaN,BAIRRO PADRAO,01.01.0111.1011.0070.0001,Ativa,NÃO,Y18S310371,NaN,12.0,0.0,NaN,12,Lido,18/10/2022,29.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16652,450664-2,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 02",LOTE 04- QUADRA23,JD SANTA FÉ,01.01.0116.1013.1470.0002,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16653,450665-0,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 03",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0003,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16654,450666-9,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 04",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0004,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16655,450672-3,117,WILTO FERREIRA BARCELOS,WILTO FERREIRA BARCELOS,"Rua 05, SN",LOTE 12- QUADRA 13,LOTEAMENTO FLORAIS,01.01.0117.1011.1890.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16656,450675-8,117,GILDO XAVIER NEPOMUCENO,GILDO XAVIER NEPOMUCENO,"Avenida EURYDICE GARCIA DE JESUS, AP 01",LOTE DE ESQUINA,RESIDENCIAL VERA,01.01.0117.1001.2610.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN

In [ ]:
df['VOLUME_LIDO'].sum()

212378.0

In [ ]:
df[(df['TIPO_CONSUMO_FATURADO']=='Lido')]

,MATRICULA,GRUPO,NOME_PROPRIETARIO,NOME_MORADOR,ENDERECO,COMPLEMENTO,BAIRRO,LOCALIZACAO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
0,186116-6,111,KLEITON FERREIRA RIGONE,KLEITON FERREIRA RIGONE,"Avenida VEREADOR VALTER DE OLIVEIRA, 838",NaN,SÃO JOSÉ,01.01.0111.1005.0470.0001,Ativa,NÃO,Y17S631158,NaN,21.0,0.0,NaN,21,Lido,18/10/2022,32.0,11.0
1,186117-4,111,MALLANY NEVES DE SOUZA,MALLANY NEVES DE SOUZA,"Avenida VEREADOR VALTER DE OLIVEIRA, 874",,SÃO JOSÉ,01.01.0111.1005.0500.0001,Ativa,NÃO,Y19S331705,NaN,17.0,0.0,NaN,17,Lido,18/10/2022,32.0,10.0
4,186121-2,111,ANTONIO BERNARDO DA COSTA,ANTONIO BERNARDO DA COSTA,"Avenida VEREADOR VALTER DE OLIVEIRA, 970",NaN,BAIRRO PADRAO,01.01.0111.1011.0070.0001,Ativa,NÃO,Y18S310371,NaN,12.0,0.0,NaN,12,Lido,18/10/2022,29.0,10.0
5,186122-0,111,DINAH GARCIA DE FREITAS,DINAH GARCIA DE FREITAS,"Avenida VEREADOR VALTER DE OLIVEIRA, 1016",NaN,BAIRRO PADRAO,01.01.0111.1011.0100.0001,Ativa,NÃO,Y17S631340,NaN,25.0,0.0,NaN,25,Lido,18/10/2022,29.0,30.0
6,186123-9,111,MAURICIO VIEIRA,ODMAR FREITAS SILVA,"Avenida VEREADOR VALTER DE OLIVEIRA, 1034",NaN,SÃO JOSÉ,01.01.0111.1011.0110.0001,Ativa,NÃO,Y20S141048,NaN,15.0,0.0,NaN,15,Lido,18/10/2022,29.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16652,450664-2,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 02",LOTE 04- QUADRA23,JD SANTA FÉ,01.01.0116.1013.1470.0002,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16653,450665-0,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 03",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0003,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16654,450666-9,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 04",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0004,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16655,450672-3,117,WILTO FERREIRA BARCELOS,WILTO FERREIRA BARCELOS,"Rua 05, SN",LOTE 12- QUADRA 13,LOTEAMENTO FLORAIS,01.01.0117.1011.1890.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16656,450675-8,117,GILDO XAVIER NEPOMUCENO,GILDO XAVIER NEPOMUCENO,"Avenida EURYDICE GARCIA DE JESUS, AP 01",LOTE DE ESQUINA,RESIDENCIAL VERA,01.01.0117.1001.2610.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN

In [ ]:
df_filled = df.fillna(0)

df_filled[(df_filled['CONSUMO_FATURADO']==0) & (df_filled['TIPO_CONSUMO_FATURADO']=='Lido') & (df_filled['SITUACAO_LIG_AGUA']=='Ativa') & (df_filled['MEDIA_MES_ANTERIOR']!= 0)]

,MATRICULA,GRUPO,NOME_PROPRIETARIO,NOME_MORADOR,ENDERECO,COMPLEMENTO,BAIRRO,LOCALIZACAO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
1401,187804-2,103,LUCIANA CANDIDA DA MATA,LUCIANA CANDIDA DA MATA,"Rua ANTONIO BENTO NETO, 1114",QD 40- LT 11A,CENTRO,01.01.0103.1003.1810.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,07/10/2022,0.0,20.0
6839,437727-3,105,ANA RODRIGUES DA CRUZ,DIOGO KELER DA SILVA,"Rua MANOEL F PEREIRA, 73",0,CENTRO,01.01.0105.1001.2420.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,10/10/2022,0.0,16.0
9442,442658-4,116,RAIMUNDO VANTUIL DA SILVA,RAIMUNDO VANTUIL DA SILVA,"Avenida JOSE MARTINS MONTEIRO, 2427",0,JD SANTA FÉ,01.01.0116.1001.2455.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,26/10/2022,0.0,10.0
10302,443610-5,117,ADAO MARTINS DA SILVA,ADAO MARTINS DA SILVA,"Rua JOSÉ R. MURTINHO, 268",0,RESIDENCIAL VERA,01.01.0117.1003.1860.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,27/10/2022,0.0,12.0
11099,444498-1,111,RAFAEL EDUARDO GOMES DE OLIVEIRA,RAFAEL EDUARDO GOMES DE OLIVEIRA,"Rua SENADOR ULISSES GUIMARAES, 590",0,N. H. HORTÊNCIA,01.01.0111.1007.2466.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,18/10/2022,0.0,10.0
15187,449014-2,110,LEANDRO MACIEL FLAUSINO,LEANDRO MACIEL FLAUSINO,"Rua DR. FILÓ, 594",0,VILA DERMAT,01.01.0110.1021.0355.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,0.0,0.0,0.0,0,0,Lido,17/10/2022,0.0,13.0

In [ ]:
df_filled[(df_filled['NUMERO_DE_DIAS_DE_CONSUMO']>=35) & (df_filled['TIPO_CONSUMO_FATURADO']=='Lido')]

,MATRICULA,GRUPO,NOME_PROPRIETARIO,NOME_MORADOR,ENDERECO,COMPLEMENTO,BAIRRO,LOCALIZACAO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
42,186165-4,111,CESAR SUARDI NETO,LARISSE PEREIRA AMORIM,"Rua RUTH FERREIRA MAZUI, 1749",0,SÃO JOSÉ,01.01.0111.1005.0810.0001,Ativa,NÃO,Y20S141052,0.0,39.0,0.0,0,39,Lido,18/10/2022,60.0,25.0
273,186431-9,101,ELZA RODRIGUES DA SILVA LUZ,LARYSSA DA CONCEIÇÃO,"Rua ANGELO GAJARDONI, 646",0,CENTRO,01.01.0101.1003.1760.0001,Ativa,NÃO,Y20S141195,0.0,85.0,535.0,CONSUMO ALTO,85,Lido,04/10/2022,91.0,43.0
394,186575-7,101,MANOEL MESSIAS GOMES DE OLIVEIRA,JOÃO PAULO FARIA DE OLIVEIRA,"Avenida JOAQUIM GOMES DE SOUZA, 1610",0,CENTRO,01.01.0101.1001.2050.0001,Ativa,NÃO,Y18S241453,0.0,14.0,0.0,0,14,Lido,04/10/2022,43.0,0.0
1848,188339-9,101,LAURA GOMES SOARES,JOÃO GOMES SOARES,"Avenida JOSE MARTINS MONTEIRO, 1139",ESQUINA VIRGINIA AZ,CENTRO,01.01.0101.1005.1940.0001,Ativa,NÃO,Y18S242889,0.0,18.0,0.0,0,18,Lido,04/10/2022,42.0,0.0
1971,188481-6,102,ZOLITA LIMA DA COSTA,MARIA JUCILEY DE OLIVEIRA,"Rua VIRGINIA AZAMBUJA, 284",0,CENTRO,01.01.0102.1001.1740.0001,Ativa,NÃO,Y22AA0010173,0.0,27.0,0.0,0,27,Lido,03/10/2022,52.0,0.0
2073,188591-0,102,DANIELLA FERREIRA DA SILVA,DANIELLA FERREIRA DA SILVA,"Rua MANOEL F PEREIRA, 207",0,CENTRO,01.01.0102.1003.1350.0001,Ativa,NÃO,Y18S310714,0.0,27.0,535.0,CONSUMO ALTO,27,Lido,03/10/2022,60.0,0.0
2300,188838-2,106,LEANDRO FERNANDES GOMES,LEANDRO FERNANDES GOMES,"Avenida BAHIA, 562",0,BAIRRO PADRAO,01.01.0106.1003.0850.0001,Ativa,NÃO,Y18S240880,0.0,20.0,0.0,0,20,Lido,11/10/2022,61.0,11.0
2330,188868-4,106,FRANCISCO VALDENOR BARBOSA,FRANCISCO VALDENOR BARBOSA,"Rua SERGIPE, 524",0,CENTRO,01.01.0106.1003.3470.0001,Ativa,NÃO,Y18S280079,0.0,55.0,535.0,CONSUMO ALTO,55,Lido,11/10/2022,92.0,14.0
2967,319596-1,109,ROSANGELA DE JESUS PAIXAO,ROSANGELA DE JESUS PAIXAO,"Rua DOIS, 138",0,VILA BERNEC,01.01.0109.1013.1920.0001,Ativa,NÃO,Y18S243600,0.0,21.0,535.0,CONSUMO ALTO,21,Lido,19/10/2022,63.0,11.0
3104,319750-6,110,JOAQUIM SERAFIM DE OLIVEIRA,ELIAS AMELIA DE OLIVEIRA,"Rua DAS FLORES, 236",0,JARDIM MORADA DA SERRA,01.01.0110.1013.0700.0001,Ativa,NÃO,Y18S280236,0.0,72.0,535.0,CONSUMO ALTO,72,Lido,17/10/2022,122.0,0.0
3349,334889-0,109,EMIR DE LANA,EMIR DE LANA,"Rua 174 B, 774",JD MORADA SERRA,BAIRRO PADRAO,01.01.0109.1015.0540.0001,Ativa,NÃO,A18S453992,0.0,22.0,0.0,0,22,Lido,19/10/2022,51.0,0.0
4021,416315-0,109,NOEMIA LUIZ DE CASTRO,NOEMIA LUIZ DE CASTRO,"Rua DOS CANARIOS, 144",0,JARDIM MORADA DA SERRA,01.01.0109.1019.3360.0001,Ativa,NÃO,A17S204328,0.0,10.0,0.0,0,10,Lido,19/10/2022,63.0,0.0
4347,426012-0,109,LUCIANO MARTINHO DA SILVA,ELAINE APARECIDA LOPES SILVA,"Rua DA HORTA, 95",0,JARDIM BANDEIRANTES,01.01.0109.1013.0180.0001,Ativa,NÃO,Y17T086399,0.0,37.0,535.0,CONSUMO ALTO,37,Lido,19/10/2022,58.0,0.0
5185,433241-5,104,EVANILDE DE SOUZA MARTINS,EVANILDE DE SOUZA MARTINS,"Avenida MATO GROSSO, 290",0,CENTRO,01.01.0104.1003.1360.0001,Ativa,NÃO,Y18S280867,0.0,34.0,0.0,0,34,Lido,06/10/2022,58.0,47.0
5854,435043-0,113,AGUINALDO LEONEL DA SILVA,AGUINALDO LEONEL DA SILVA,"Avenida AYRTON SENNA, 1685",PORTÃO PRETO,JARDIM TROPICAL,01.01.0113.1009.2300.0001,Ativa,NÃO,Y18S179420,0.0,46.0,535.0,CONSUMO ALTO,46,Lido,22/10/2022,51.0,0.0
6240,435920-8,115,ANA MARIA PINHEIRO DOS SANTOS SILVA,ANA MARIA PINHEIRO DOS SANTOS SILVA,"Avenida SÃO PAULO, 2987",0,BAIRRO PADRAO,01.01.0115.1007.0750.0001,Ativa,NÃO,Y18S668766,0.0,51.0,535.0,CONSUMO ALTO,51,Lido,25/10/2022,61.0,48.0
6393,436358-2,110,JOSE ROBERTO MUNIZ DA SILVA,JOSE ROBERTO MUNIZ DA SILVA,"Rua CEREJEIRAS, 243",0,JARDIM MORADA DA SERRA,01.01.0110.1015.1000.0001,Ativa,NÃO,Y18S240696,0.0,61.0,535.0,CONSUMO ALTO,61,Lido,17/10/2022,153.0,0.0
6865,437783-4,109,ESTERLINA ALVES DA SILVA,ESTERLINA ALVES DA SILVA,"Jardim ALTO DA GLORIA, SN",0,JD ALTO DA GLÓRIA,01.01.0109.1013.0330.0001,Ativa,NÃO,Y18S310630,0.0,14.0,0.0,0,14,Lido,19/10/2022,63.0,15.0
6876,437854-7,115,DANILO LEITE SOUTA,JEAN KENEDES FERNANDES LEITE,"Rua JAVAN JUNIOR, 177",0,PARQUE SÃO CRISTÓVÃO,01.01.0115.1005.1420.0001,Ativa,NÃO,Y17S630653,0.0,10.0,0.0,0,10,Lido,25/10/2022,92.0,0.0
8209,441259-1,106,ILSON GABIATO DOS SANTOS,EVONETE SILVA BATISTA,"Avenida TEODOMIRO R DE SOUZA, 179",ao lado do nº 165,CENTRO,01.01.0106.1007.1710.0001,Ativa,NÃO,Y20S141002,0.0,131.0,535.0,CONSUMO ALTO,131,Lido,11/10/2022,123.0,15.0
8355,441423-3,103,MARIA ALVES PEREIRA,MARIA ALVES PEREIRA,"Rua MANOEL F PEREIRA, 799",0,CENTRO,01.01.0103.1005.0305.0001,Ativa,NÃO,Y18S280747,0.0,15.0,0.0,0,15,Lido,07/10/2022,185.0,10.0
8981,442147-7,110,SEBASTIÃO QUEIROZ DE JESUS,SEBASTIÃO QUEIROZ DE JESUS,"Rua DAS FLORES, SN",0,JARDIM MORADA DA SERRA,01.01.0110.1013.1010.0001,Ativa,NÃO,Y17S629638,0.0,104.0,535.0,CONSUMO ALTO,104,Lido,17/10/2022,213.0,0.0
9615,442852-8,103,SONILDA MOREIRA FERNANDES SANTOS,WATHISON GOMES SERQUEIRA,"Rua MANOEL F PEREIRA, 1087",AP06,CENTRO,01.01.0103.1005.0250.0003,Ativa,NÃO,Y17S630168,0.0,13.0,0.0,0,13,Lido,07/10/2022,58.0,0.0
12570,446133-9,116,APARECIDA DO CARMO CARDOSO,DIOGO CESAR RIBEIRO,"Rua NILZA M. COSTA FERREIRA, 532",0,PARQUE SANTA CRUZ II,01.01.0116.1011.2595.0001,Ativa,NÃO,Y20AA0193380,0.0,54.0,535.0,CONSUMO ALTO,54,Lido,26/10/2022,61.0,22.0
15023,448831-8,105,IOLANDA DE ALMEIDA FREITAS,RAFAEL POMPEU DE MELO,"Avenida AYRTON SENNA, 65",0,JARDIM ALVORADA,01.01.0105.1001.0950.0002,Ativa,NÃO,Y19S331758,0.0,152.0,535.0,CONSUMO ALTO,152,Lido,10/10/2022,124.0,0.0
16533,450537-9,104,DANIELLA FERREIRA DA SILVA,DANIELLA FERREIRA DA SILVA,"Avenida PARANA, SN",AO LADO DA VIDRAÇARIA AMBROZETTO,CENTRO,01.01.0104.1005.0485.0001,Ativa,NÃO,Y22AA0009986,0.0,18.0,0.0,0,18,Lido,06/10/2022,43.0,10.0

In [ ]:
# df_filtrado = pd.isnull(df['NUMERO_DE_DIAS_DE_CONSUMO'])
df_filtrado = pd.isnull(df['NUMERO_DE_DIAS_DE_CONSUMO']).count()

df_filtrado

16657

In [ ]:
df_filtro1 = df[(df['N_HIDROMETRO'] == 'NÃO HÁ HIDROMETRO') & (df['SITUACAO_LIG_AGUA'] == 'Ativa')]

df_filtro1.count()

MATRICULA                    64
GRUPO                        64
NOME_PROPRIETARIO            64
NOME_MORADOR                 64
ENDERECO                     64
COMPLEMENTO                  30
BAIRRO                       64
LOCALIZACAO                  64
SITUACAO_LIG_AGUA            64
LIGACAO_PARTICULAR           64
N_HIDROMETRO                 64
ORIGEM_DA_AGUA                0
VOLUME_LIDO                   0
OCORRENCIA                   64
DESC_OCORRENCIA               0
CONSUMO_FATURADO             64
TIPO_CONSUMO_FATURADO        64
DATA_DA_LEITURA              63
NUMERO_DE_DIAS_DE_CONSUMO     0
MEDIA_MES_ANTERIOR           32
dtype: int64

In [ ]:
df_filtro1

,MATRICULA,GRUPO,NOME_PROPRIETARIO,NOME_MORADOR,ENDERECO,COMPLEMENTO,BAIRRO,LOCALIZACAO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
202,186353-3,103,MARIA LEONTINA VALADÃO,GENIVAL DOS SANTOS GARCIA,"Avenida MATO GROSSO, 1383",NaN,BAIRRO PADRAO,01.01.0103.1011.2030.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,07/10/2022,NaN,10.0
323,186493-9,101,DIVINA FERREIRA FELICIANA MORAES,RAFAEL FELICIANO DE ALMEIDA,"Avenida JOSE MARTINS MONTEIRO, 1498",ANTIGO 1284,CENTRO,01.01.0101.1003.2480.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,20,Mínimo,04/10/2022,NaN,20.0
710,186985-0,103,GILMAR DE CARVALHO NOGUEIRA,GILMAR DE CARVALHO NOGUEIRA,"Avenida FLORESPINA AZAMBUJA, 1791",B,CENTRO,01.01.0103.1011.0060.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,20,Mínimo,07/10/2022,NaN,NaN
792,187085-8,103,CLEMILTON MACEDO DE MIRANDA,CLEMILTON MACEDO DE MIRANDA,"Rua ANGELO GAJARDONI, 1736",NaN,BAIRRO PADRAO,01.01.0103.1011.1950.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,07/10/2022,NaN,20.0
1159,187504-3,101,JOSE RAIMUNDO,ANGELO BRAGA,"Avenida MUNICIPAL, 1190",Vila Guaporé,BAIRRO PADRAO,01.01.0101.1005.0230.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,04/10/2022,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16652,450664-2,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 02",LOTE 04- QUADRA23,JD SANTA FÉ,01.01.0116.1013.1470.0002,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16653,450665-0,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 03",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0003,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16654,450666-9,116,ANTONIO RODRIGUES DA SILVA,ANTONIO RODRIGUES DA SILVA,"Avenida MINAS GERAIS, AP 04",LOTE 04- QUADRA 23,JD SANTA FÉ,01.01.0116.1013.1470.0004,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16655,450672-3,117,WILTO FERREIRA BARCELOS,WILTO FERREIRA BARCELOS,"Rua 05, SN",LOTE 12- QUADRA 13,LOTEAMENTO FLORAIS,01.01.0117.1011.1890.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN
16656,450675-8,117,GILDO XAVIER NEPOMUCENO,GILDO XAVIER NEPOMUCENO,"Avenida EURYDICE GARCIA DE JESUS, AP 01",LOTE DE ESQUINA,RESIDENCIAL VERA,01.01.0117.1001.2610.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,27/10/2022,NaN,NaN

In [ ]:
df_filtro1.to_excel('/content/Planilha_Ligação_ATIVA_Sem_Hidrometro.xlsx')

In [ ]:
df_setembro = pd.read_excel('/content/Relatorio__Unidades_por_Consumo-Setembro.xlsx')

In [ ]:
df_setembro[df_setembro['SITUACAO_LIG_AGUA']== 'Suprimida']

,MATRICULA,GRUPO,NOME_PROPRIETARIO,NOME_MORADOR,ENDERECO,COMPLEMENTO,BAIRRO,LOCALIZACAO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
3,186120-4,111,JUNICLER CRISTIANE DA SILVA,JUNICLER CRISTIANE DA SILVA,"Rua MARIANO PIRES DE CAMPOS, 1734",NaN,BAIRRO PADRAO,01.01.0111.1011.0040.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,19/09/2022,NaN,10.0
13,186131-0,111,JOÃO BATISTA,JOÃO BATISTA,"Rua MARIANO PIRES DE CAMPOS, 1640",NaN,BAIRRO PADRAO,01.01.0111.1011.1870.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,19/09/2022,NaN,20.0
41,186164-6,111,ELVIRA ELZA MIELKE,ELVIRA ELZA MIELKE,"Avenida ANTÔNIO MAGIO, SN",NaN,BAIRRO PADRAO,01.01.0111.1005.0900.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,16/09/2022,NaN,20.0
80,186205-7,112,WILIAN JAIME OLIVEIRA,WILIAN JAIME OLIVEIRA,"Rua LUIZ CARLOS SOARES, SN",NaN,BAIRRO PADRAO,01.01.0112.1003.1250.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,20/09/2022,NaN,20.0
273,186432-7,102,IRAIDES PARREIRA DA SILVA,IRAIDES PARREIRA DA SILVA,"Rua ANGELO GAJARDONI, 525 B",NaN,BAIRRO PADRAO,01.01.0102.1001.0410.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,02/09/2022,NaN,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14356,448117-8,104,GLEISE AMELIA DIAS,GLEISE AMELIA DIAS,"Avenida FLORESPINA AZAMBUJA, 211 C",NaN,CENTRO,01.01.0104.1003.1065.0003,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,06/09/2022,NaN,10.0
14547,448319-7,104,NEW TECH REFRIGERAÇÃO LTDA ME,NEW TECH REFRIGERAÇÃO LTDA ME,"Avenida FLORESPINA AZAMBUJA, 863",LOJA,CENTRO,01.01.0104.1001.0680.0002,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,06/09/2022,NaN,10.0
15110,448949-7,110,LOCIBIO REZENDE LEAL,LOCIBIO REZENDE LEAL,"Rua B, S/N",NaN,LOTEAMENTO NOVO HORIZONTE,01.01.0110.1023.4520.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,15/09/2022,NaN,10.0
15957,449907-7,116,MARILCE SANTOS LEITE,MARILCE SANTOS LEITE,"Rua JOAQUIM GERÔNIMO DA SILVA, SN","LOTE 04, QUADRA 26",PARQUE SANTA CRUZ II,01.01.0116.1009.2210.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,27/09/2022,NaN,10.0
16086,450049-0,117,WESLA KENIA ZEFERINO,WESLA KENIA ZEFERINO,"Rua JOSÉ R. MURTINHO, S/N","QUADRA 12, LOTE 03",RESIDENCIAL SANTO ANTONIO,01.01.0117.1007.1700.0001,Suprimida,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,28/09/2022,NaN,10.0

In [ ]:
df_set_filtro = df_setembro[(df_setembro['SITUACAO_LIG_AGUA']== 'Ativa') & (df_setembro['N_HIDROMETRO'] == 'NÃO HÁ HIDROMETRO')]

df_set_filtro

,MATRICULA,GRUPO,NOME_PROPRIETARIO,NOME_MORADOR,ENDERECO,COMPLEMENTO,BAIRRO,LOCALIZACAO,SITUACAO_LIG_AGUA,LIGACAO_PARTICULAR,N_HIDROMETRO,ORIGEM_DA_AGUA,VOLUME_LIDO,OCORRENCIA,DESC_OCORRENCIA,CONSUMO_FATURADO,TIPO_CONSUMO_FATURADO,DATA_DA_LEITURA,NUMERO_DE_DIAS_DE_CONSUMO,MEDIA_MES_ANTERIOR
42,186165-4,111,CESAR SUARDI NETO,LARISSE PEREIRA AMORIM,"Rua RUTH FERREIRA MAZUI, 1749",NaN,SÃO JOSÉ,01.01.0111.1005.0810.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,16/09/2022,NaN,34.0
132,186266-9,101,THAYSA BEATRIZ FERREIRA OLANDA FERRAZ,THAYSA BEATRIZ FERREIRA OLANDA FERRAZ,"Avenida JOSE ALVES FERREIRA, 1452",NaN,BAIRRO PADRAO,01.01.0101.1003.0150.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,01/09/2022,NaN,20.0
153,186296-0,101,LASARO FLORENCIO,CARLOS EDUARDO TONCHIS FLORENCIO,"Rua CEARA, SN",50 B,BAIRRO PADRAO,01.01.0101.1003.0550.0002,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,01/09/2022,NaN,26.0
201,186353-3,103,MARIA LEONTINA VALADÃO,GENIVAL DOS SANTOS GARCIA,"Avenida MATO GROSSO, 1383",NaN,BAIRRO PADRAO,01.01.0103.1011.2030.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,09/09/2022,NaN,10.0
272,186431-9,101,ELZA RODRIGUES DA SILVA LUZ,LARYSSA DA CONCEIÇÃO,"Rua ANGELO GAJARDONI, 646",NaN,CENTRO,01.01.0101.1003.1760.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Mínimo,03/09/2022,NaN,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16567,450618-9,118,CAMILA APARECIDA CARVALHO OLIVEIRA,CAMILA APARECIDA CARVALHO OLIVEIRA,"Alameda DAS AZALÉIAS, SN",Qd. Porto Lote2163 (Próximo ao parque de cri...,CONDOMÍNIO FLORES DO VALE,01.01.0118.1011.1740.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,30/09/2022,NaN,NaN
16568,450621-9,118,NILTON CEZAR SIMÃO,NILTON CEZAR SIMÃO,"Avenida 02, Q 10- L6",LOTEAMENTO SANTA HELENA,RESIDENCIAL GLORIA,01.01.0118.1002.1400.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,29/09/2022,NaN,NaN
16569,450622-7,118,MARCOS DA COSTA DE JESUS,MARCOS DA COSTA DE JESUS,"Rua 03, SN","QD-11, LT-06",RESIDENCIAL GLORIA,01.01.0118.1002.2120.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,29/09/2022,NaN,NaN
16570,450626-0,118,JADILSON ANTONIO DA SILVA,JADILSON ANTONIO DA SILVA,"Avenida 01, SN",LOTEAMENTO SANTANA HELENA,RESIDENCIAL GLORIA,01.01.0118.1002.0070.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,29/09/2022,NaN,NaN
16571,450629-4,118,SEBASTIAO MOISEIS DA SILVA,SEBASTIAO MOISEIS DA SILVA,"Rua HELIO VIEIRA RIBEIRO, SN","LT-12, QD-32",RESIDENCIAL GLORIA,01.01.0118.1005.2645.0001,Ativa,NÃO,NÃO HÁ HIDROMETRO,NaN,NaN,0.0,NaN,0,Lido,29/09/2022,NaN,NaN

In [ ]:
df_setembro_filled = df_setembro[(df_setembro['CONSUMO_FATURADO']==0) & (df_setembro['SITUACAO_LIG_AGUA']=='Ativa')].fillna(0)

In [ ]:
df_setembro_filled[df_setembro_filled['MEDIA_MES_ANTERIOR']!=0].to_excel('/content/teste.xlsx')

In [ ]:
df_set_index = df_set_filtro['MATRICULA'].reset_index()

df_set_index

    index MATRICULA
0      42  186165-4
1     132  186266-9
2     153  186296-0
3     201  186353-3
4     272  186431-9
..    ...       ...
93  16567  450618-9
94  16568  450621-9
95  16569  450622-7
96  16570  450626-0
97  16571  450629-4

[98 rows x 2 columns]

In [ ]:
df_set_index

    index MATRICULA
0      42  186165-4
1     132  186266-9
2     153  186296-0
3     201  186353-3
4     272  186431-9
..    ...       ...
93  16567  450618-9
94  16568  450621-9
95  16569  450622-7
96  16570  450626-0
97  16571  450629-4

[98 rows x 2 columns]